table {
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
}

th,
tr,
td {
    border: 1px solid black;
    text-align: center;
}

button {
    width: 10vw;
    height: 10vh;
}

.tall {
    height: 25vh;
}

.thick {
    font-size: 50px;
}

.wide {
    width: 30vw;
}

#topright {
    background: yellow;
}